<div class="row">
    <div class="col-xs-12 col-md-4">
        <h1 class="text-center">Find Movies</h1>
        <div class="row">
            <form id="movie-search">
                <div class="col-xs-8">
                    <input type="text" name="s" class="form-control" placeholder="Enter Movie Name">
                  </div>
                  <div class="col-xs-4">
                      <button type="submit" class="btn btn-success">submit</button>

                  </div>
                </div>

            </form>
        </div>

    </div>
    <div class="col-xs-12 col-md-8">
        <div id="movies">

        </div>
    </div>
</div>

<div id="section1" class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="height:95vh;background-color:red;">
      <img src="https://a.dilcdn.com/bl/wp-content/uploads/sites/25/2014/03/Maleficent-Poster.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop">
    </div>
    <div class="col-md-3" style="height:95vh;background-color:green;">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/5e/22/08/5e2208da11e2a74fda181496d9d7c3f6.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop">

    </div>
    <div class="col-md-3" style="height:95vh;background-color:blue;">
      <img src="https://lovelifedesign.files.wordpress.com/2009/11/kitchcakes.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop">
    </div>
    <div class="col-md-3" style="height:95vh;background-color:grey;">
      <img src="https://a.dilcdn.com/bl/wp-content/uploads/sites/25/2014/03/Maleficent-Poster.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop">
    </div>
  </div>
</div>

<div id="section2" class="container-fluid">
  <div class="row form-group product-chooser">

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="product-chooser-item selected">
        <img src="http://renswijnmalen.nl/bootstrap/desktop_mobile.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop">
              <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
          <span class="title">Mobile and Desktop</span>
          <span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>
          <input type="radio" name="product" value="mobile_desktop" checked="checked">
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="product-chooser-item">
        <img src="http://renswijnmalen.nl/bootstrap/desktop.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Desktop">
              <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
          <span class="title">Desktop</span>
          <span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>
          <input type="radio" name="product" value="desktop">
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="product-chooser-item">
        <img src="http://renswijnmalen.nl/bootstrap/mobile.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile">
              <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
          <span class="title">Mobile</span>
          <span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>
          <input type="radio" name="product" value="mobile">
        </div>
        <div class="clear"></div>
      </div>
    </div>

  </div>
</div>
