<div class="container list" style="padding-top:50px;">
	<div id="movies" class="row"></div>
	<div id="intro">
		<aside>
		<ul class="tag-cloud" style="padding-top:20vh;">
			<li><a href="" rel="tag" class="w2">imdbID</a></li>
			<li><a href="" rel="tag" class="w8">real rating</a></li>
			<li><a href="" rel="tag" class="w1">included rotten tomatoes</a></li>
			<li><a href="" rel="tag" class="w9">pintrest like layout</a></li>
			<li><a href="" rel="tag" class="w2">search by year</a></li>
			<li><a href="" rel="tag" class="w3">real movie length time</a></li>
			<li><a href="" rel="tag" class="w1">director</a></li>
			<li><a href="" rel="tag" class="w9">production company</a></li>
			<li><a href="" rel="tag" class="w2">Awards</a></li>

		 </ul>
		</aside>
	</div>
 <div id="modals"></div>
</div>
<style>
	ul{
	list-style:none;
	}
	aside .tag-cloud {
	padding: 15px 35px 10px 0;
	text-align: center
	}
	aside .tag-cloud li {
	display: inline
	}
	aside .tag-cloud a {
	color: #69a
	}
	aside .tag-cloud a:hover {
	color: #a67
	}
	aside .tag-cloud .w1 {
	font-size: .8em
	}
	aside .tag-cloud .w2 {
	font-size: 1em
	}
	aside .tag-cloud .w3 {
	font-size: 1.1em
	}
	aside .tag-cloud .w4 {
	font-size: 1.2em
	}
	aside .tag-cloud .w5 {
	font-size: 1.3em
	}
	aside .tag-cloud .w6 {
	font-size: 1.4em
	}
	aside .tag-cloud .w7 {
	font-size: 1.5em
	}
	aside .tag-cloud .w8 {
	font-size: 1.6em
	}
	aside .tag-cloud .w9 {
	font-size: 1.8em
	}
	aside .tag-cloud .w10 {
	font-size: 2em
	}
	aside {
	margin: 0 auto;
	padding: 70px 0 30px;
	position: relative;
	width: 25%
	}
	aside h1 {
	color: #888;
	font-size: 1.8em
	}
	aside .tag-cloud {
	padding: 15px 35px 10px 0;
	text-align: center
	}
</style>
