<% if user_signed_in? %>
    <% if current_user.voted? review %>
      <%= link_to "devote", review_ballets_path(id: reivew.id), method: :delete, remote: true %>
    <% else %>
      <%= link_to "vote", review_ballets_path(review_id: review.id), method: :post, remote: true %>
    <% end %>
<span>
    <%= pluralize review.ballets.count, "follow" %>
  </span>
<% else %>
  <span class="post_like">
    <%= pluralize review.ballets.count, "follow" %>
  </span>
<% end %>
